<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        colors="true"
        backupGlobals="false"
        bootstrap="tests/bootstrap.php"
        convertDeprecationsToExceptions="false"
>
    <php>
        <!-- typowe ini -->
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>

        <!-- środowisko testowe -->
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>

        <!-- ważne: użyjemy Symfony PHPUnit Bridge z runnerem 8.5 (stabilny z SF 4.4) -->
        <env name="SYMFONY_PHPUNIT_VERSION" value="8.5"/>

        <!-- wycisz deprecations (vendorowe ostrzeżenia na PHP 8.2) -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>

        <!-- opcjonalne: nie usuwaj nic automatycznie przez bridge -->
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Listener bridge'a (ok dla SF 4.4). Jeśli miałbyś problemy, można usunąć. -->
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
</phpunit>
